In [1]:
import newt
import pandas as pd

load C:\Users\sykcfc\.conda\envs\py38\lib\site-packages\ortools\.libs\zlib1.dll...
load C:\Users\sykcfc\.conda\envs\py38\lib\site-packages\ortools\.libs\abseil_dll.dll...
load C:\Users\sykcfc\.conda\envs\py38\lib\site-packages\ortools\.libs\utf8_validity.dll...
load C:\Users\sykcfc\.conda\envs\py38\lib\site-packages\ortools\.libs\re2.dll...
load C:\Users\sykcfc\.conda\envs\py38\lib\site-packages\ortools\.libs\libprotobuf.dll...
load C:\Users\sykcfc\.conda\envs\py38\lib\site-packages\ortools\.libs\highs.dll...
load C:\Users\sykcfc\.conda\envs\py38\lib\site-packages\ortools\.libs\ortools.dll...
(CVXPY) Jan 07 06:51:02 PM: Encountered unexpected exception importing solver GLOP:
RuntimeError('Unrecognized new version of ortools (9.12.4544). Expected < 9.8.0. Please open a feature request on cvxpy to enable support for this version.')
(CVXPY) Jan 07 06:51:02 PM: Encountered unexpected exception importing solver PDLP:
RuntimeError('Unrecognized new version of ortools (9.12.4544). Expected < 9.8.0. Please open a feature request on cvxpy to enable support for this version.')

In [2]:
def load_german_data(path):
    columns = [
        "status",
        "duration",
        "credit_history",
        "purpose",
        "credit_amount",
        "savings",
        "employment",
        "installment_rate",
        "personal_status_sex",
        "guarantors",
        "residence_since",
        "property",
        "age",
        "other_installment",
        "housing",
        "existing_credits",
        "job",
        "maintenance_people",
        "telephone",
        "foreign_worker",
        "target",
    ]
    df = pd.read_csv(path, sep=" ", header=None, names=columns)
    # Target: 1=Good, 2=Bad. Map to 0=Good, 1=Bad (default risk modeling)
    df["target"] = df["target"].map({1: 0, 2: 1})
    return df

In [3]:
df = load_german_data('./data/statlog+german+credit+data/german.data')

In [10]:
fs = newt.FeatureSelector()

In [12]:
fs.fit(df,df['target'])

In [17]:
fs.report()

,feature,dtype,count,correlation,iv,ks,kurtosis,max,mean,median,min,missing_rate,skewness,std,status,reason
0,status,categorical,1000,NaN,0.666012,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,selected,
1,duration,numeric,1000,0.214927,0.246542,0.191905,0.909195,72.0,20.903,18.0,4.0,0.0,1.092542,12.058814,selected,
2,credit_history,categorical,1000,NaN,0.293234,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,selected,
3,purpose,categorical,1000,NaN,0.169195,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,selected,
4,credit_amount,numeric,1000,0.154739,0.113637,0.157143,4.265163,18424.0,3271.258,2319.5,250.0,0.0,1.946702,2822.736876,selected,
5,savings,categorical,1000,NaN,0.196010,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,selected,
6,employment,categorical,1000,NaN,0.086434,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,selected,
7,installment_rate,numeric,1000,0.072404,0.026322,0.077143,-1.210423,4.0,2.973,3.0,1.0,0.0,-0.530551,1.118715,selected,
8,personal_status_sex,categorical,1000,NaN,0.044671,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,selected,
9,guarantors,categorical,1000,NaN,0.032019,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,selected,
10,residence_since,numeric,1000,0.002967,0.003589,0.014286,-1.380545,4.0,2.845,3.0,1.0,0.0,-0.272161,1.103718,selected,
11,property,categorical,1000,NaN,0.112638,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,selected,
12,age,numeric,1000,-0.091127,0.100622,0.131429,0.586811,75.0,35.546,33.0,19.0,0.0,1.019208,11.375469,selected,
13,other_installment,categorical,1000,NaN,0.057615,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,selected,
14,housing,categorical,1000,NaN,0.083293,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,selected,
15,existing_credits,numeric,1000,-0.045732,0.013267,0.048095,1.590434,4.0,1.407,1.0,1.0,0.0,1.270666,0.577654,selected,
16,job,categorical,1000,NaN,0.008763,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,selected,
17,maintenance_people,numeric,1000,-0.003015,0.000043,0.002381,1.635045,2.0,1.155,1.0,1.0,0.0,1.906579,0.362086,selected,
18,telephone,categorical,1000,NaN,0.006378,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,selected,
19,foreign_worker,categorical,1000,NaN,0.043877,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,selected,
20,target,numeric,1000,1.000000,36.841361,1.000000,-1.238095,1.0,0.300,0.0,0.0,0.0,0.872872,0.458487,selected,

In [19]:
categorical_list = fs.report().loc[fs.report()['dtype']=='categorical', 'feature'].tolist()

In [20]:
from sklearn.preprocessing import LabelEncoder
from typing import List, Dict

def label_encode_multiple_columns(df: pd.DataFrame, columns: List[str]):
    """
    对DataFrame中的多个分类列进行标签编码
    
    Args:
        df: 输入的DataFrame
        columns: 需要编码的列名列表
    
    Returns:
        (编码后的DataFrame, 编码器字典)
    """
    df_encoded = df.copy()
    encoders = {}
    
    for col in columns:
        if col in df_encoded.columns:
            encoder = LabelEncoder()
            # 处理缺失值：先将NaN替换为字符串'NaN'，避免编码错误
            series_clean = df_encoded[col].fillna('NaN').astype(str)
            df_encoded[col] = encoder.fit_transform(series_clean)
            encoders[col] = encoder
    
    return df_encoded, encoders

In [21]:
df_encoded, encoders = label_encode_multiple_columns(df, categorical_list)

In [22]:
fs.fit(df_encoded,df['target'])

In [23]:
fs.report().sort_values(by='iv', ascending=False)

,feature,dtype,count,correlation,iv,ks,kurtosis,max,mean,median,min,missing_rate,skewness,std,status,reason
20,target,numeric,1000,1.000000,36.841361,1.000000,-1.238095,1.0,0.300,0.0,0.0,0.0,0.872872,0.458487,selected,
0,status,numeric,1000,-0.350847,0.666012,0.367143,-1.661390,3.0,1.577,1.0,0.0,0.0,0.006947,1.257638,selected,
2,credit_history,numeric,1000,-0.228785,0.293234,0.180476,-0.582158,4.0,2.545,2.0,0.0,0.0,-0.011868,1.083120,selected,
1,duration,numeric,1000,0.214927,0.246542,0.191905,0.909195,72.0,20.903,18.0,4.0,0.0,1.092542,12.058814,selected,
5,savings,numeric,1000,-0.178943,0.196010,0.186667,-0.682822,4.0,1.105,0.0,0.0,0.0,1.015151,1.580023,selected,
3,purpose,numeric,1000,0.001514,0.169195,0.089524,-0.342804,9.0,3.277,3.0,0.0,0.0,0.625715,2.739302,selected,
4,credit_amount,numeric,1000,0.154739,0.113637,0.157143,4.265163,18424.0,3271.258,2319.5,250.0,0.0,1.946702,2822.736876,selected,
11,property,numeric,1000,0.142612,0.112638,0.117143,-1.238325,3.0,1.358,1.0,0.0,0.0,0.045605,1.050209,selected,
12,age,numeric,1000,-0.091127,0.100622,0.131429,0.586811,75.0,35.546,33.0,19.0,0.0,1.019208,11.375469,selected,
6,employment,numeric,1000,-0.116002,0.086434,0.119524,-0.935659,4.0,2.384,2.0,0.0,0.0,-0.117438,1.208306,selected,
14,housing,numeric,1000,-0.019315,0.083293,0.077619,0.464620,2.0,0.929,1.0,0.0,0.0,-0.070698,0.531264,selected,
13,other_installment,numeric,1000,-0.109844,0.057615,0.096190,1.499041,2.0,1.675,2.0,0.0,0.0,-1.823777,0.705601,selected,
8,personal_status_sex,numeric,1000,-0.088184,0.044671,0.100000,-0.008548,3.0,1.682,2.0,0.0,0.0,-0.304688,0.708080,selected,
19,foreign_worker,numeric,1000,-0.082079,0.043877,0.033810,22.065449,1.0,0.037,0.0,0.0,0.0,4.905655,0.188856,selected,
9,guarantors,numeric,1000,-0.025137,0.032019,0.026667,9.276184,2.0,0.145,0.0,0.0,0.0,3.259350,0.477706,selected,
7,installment_rate,numeric,1000,0.072404,0.026322,0.077143,-1.210423,4.0,2.973,3.0,1.0,0.0,-0.530551,1.118715,selected,
15,existing_credits,numeric,1000,-0.045732,0.013267,0.048095,1.590434,4.0,1.407,1.0,1.0,0.0,1.270666,0.577654,selected,
16,job,numeric,1000,0.032735,0.008763,0.031429,0.493391,3.0,1.904,2.0,0.0,0.0,-0.373733,0.653614,selected,
18,telephone,numeric,1000,-0.036466,0.006378,0.039048,-1.846900,1.0,0.404,0.0,0.0,0.0,0.391280,0.490943,selected,
10,residence_since,numeric,1000,0.002967,0.003589,0.014286,-1.380545,4.0,2.845,3.0,1.0,0.0,-0.272161,1.103718,selected,
17,maintenance_people,numeric,1000,-0.003015,0.000043,0.002381,1.635045,2.0,1.155,1.0,1.0,0.0,1.906579,0.362086,selected,

In [ ]:
newt.PreFilter()